.ideas-topic-card
  width: 100%
  margin: 0 0 1.5em
  height: auto
  box-shadow: 0 0 1px 0 #555
  height: auto
  &:hover
    box-shadow: 0 2px 5px #555
  .topic-card-title
    margin-bottom: 5px
    &>a
      color: #444

  .participants
    font-weight: 400
    color: #a5a9aa
    display: inline-block
    margin-right: 20px;
    span
      color: #099dc3

  .topic-card-info
    padding-bottom: 0
    height: auto

  .topic-card-tags
    margin-top: 10px
    span
      font-weight: 400
      margin: 5px 5px 0 0
    a
      background-color: #1D9DC1
      font-size: .65em
      border-radius: 35px
      color: #fff
      padding:6px 10px 6px 10px
      font-weight: normal
      text-decoration: none !important
      margin-right:5px
      margin-bottom: 10px
    a:hover
      text-decoration: none !important
      color: #fff !important  

  .topic-card-description
    margin: 10px 0 0 0
    a
      font-size: 15px
      white-space: normal
  .topic-card-footer
    padding: 20px 35px
    @media screen and (min-width: 769px)
      display: flex;
      justify-content: space-between;
    .cause-wrapper, .subscribe-wrapper 
      display: flex
      align-items: center
      margin-bottom: 15px;
      justify-content: space-between;
    span.blue
      color: #099dc3
    span.gray
      color: #a5a9aa
    .btn
      background: #099dc3
      margin: 0
      &.btn-empty
        background: #FFFFFF
        color: #099dc3
        border: 1px solid #099dc3
      &.btn-filled
        background: #099dc3
        color: #FFFFFF

  .topic-creation
    color: #a5a9aa
    font-size: 13px
    margin-bottom: 0.8em
    display: flex
    align-items: center

    i
      margin-right: .5em

    .date
      flex: 1
      text-align: right
      &.space
        margin-right: 60px 

    .avatar
      margin-right: 5px
      width: 25px
      height: 25px
      border-radius: 50%
      background-size: cover
      background-position: center center
  
  .estado
    font-size: 1em
    color: #271356
    background-color: #cfb8ed
    &.factible
      color: #145730
      background-color: #b6efce
    font-weight: bold
    padding: 5px 50px
    position: absolute
    right: -50px
    top: 25px
    transform: rotate(45deg)