.ideas-topic-card
  width: 100%
  margin: 0 0 1.5em
  height: auto
  box-shadow: 0 0 1px 0 #555
  height: auto
  min-height: unset
  &:hover
    box-shadow: 0 2px 5px #555
  .topic-card-title
    color black
    margin-bottom: 5px
    &>a
      color: #444

  .topic-card-info
    padding-bottom: 0
    height: auto

  .topic-card-attrs
    span.badge
      background-color: #1D9DC1
      font-size: 14px
      border-radius: 35px
      color: #fff
      padding:6px 15px 6px 15px
      font-weight: normal;
      text-decoration: none !important
      margin-right:9px
      margin-bottom: 10px

  .topic-card-description
    margin: 13px 0 0 0
    text-transform: none
    a
      font-size: 15px
      white-space: normal
  .topic-card-footer
    padding: 20px 35px
    @media screen and (min-width: 769px)
      display: flex;
      justify-content: space-between;

    .topic-card-tags
      margin-bottom: 10px;
      @media screen and (min-width: 769px)
        margin-bottom: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .glyphicon
        margin-right: 10px;
        top: 0px;
      .tag-wrapper
        font-size: 14px
        margin-right: 15px
        color: black;
        font-weight: normal;
        &:last-child
          margin-right: 0
        &:hover, &:focus, &:active
          color: #3d699e;

    .cause-wrapper
      margin-right: 20px;
    .subscribe-wrapperr
      @media screen and (min-width: 769px)
        margin-bottom: 0;
    .cause-wrapper, .subscribe-wrapperr
      float: left;
      margin-bottom: 15px;
      .btn
        background: #099dc3
        margin: 0
        &.btn-empty
          background: #FFFFFF
          color: #099dc3

          border: 1px solid #099dc3
        &.btn-filled
          background: #099dc3
          color: #FFFFFF

        /*&[disabled]
          $disabled-color = #656768
          background: white
          color: $disabled-color
          border-color: $disabled-color
          .participants.not-voted, .participants.voted
            color: $disabled-color
            .icon-like, .icon-bell
              color: $disabled-color*/

        .participants
          font-weight: 400
          display: inline-block
          margin-left: 20px;
          color: #a5a9aa
          &.not-voted,&.not-subscribed
            color: #a5a9aa
            .icon-like, .icon-bell
              color: #099dc3
          &.voted,&.subscribed
            color: white

  .topic-creation
    font-size: 14px
    margin-bottom: 0.8em
    margin-top: 0.8em
    display: flex
    align-items: center

    i
      margin-right: .5em

    .date
      flex: 1
      text-align: right

    .avatar
      margin-right: 5px
      width: 25px
      height: 25px
      border-radius: 50%
      background-size: cover
      background-position: center center

    .topic-card-author
      font-weight: bold

  .estado
    position: absolute
    right: 0
    width: 130px;
    text-align: center;
    padding: 5px 0;
    font-size: 14px
    font-weight: bold
    &.factible
      color: #356905
      background-color: #dafbdc
    &.integrado
      color: #024057
      background-color: #c2efff
    &.no-factible
      color: #8c1e80
      background-color: #ffcbf9
