.form-propuesta
  .propuesta-header
    background: #e5e5e5
    color: white
    text-shadow: 0 1px 4px #555
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    height: 250px
    margin-bottom: 40px
    h1
      font-size: 40px
    p
      font-size: 24px

  .wrapper
    max-width:900px
    padding-left: 300px
    padding-top: 5px
    position: relative

    label
      color: rgba(0, 0, 0, 0.55)
      margin: 10px 0 5px 0
    input
      width:100%
    input, select, textarea
      border-radius: 5px
      border: 1px solid rgba(0, 0, 0, 0.15)
    