.festejando
  margin 0
  padding: 30px 10px
  background: rgb(136,41,130)
  background: linear-gradient(205deg, rgba(136,41,130,1) 25%, rgba(87,43,127,1) 75%)
  .container
    margin: 16px auto;
    width: 70%;
    @media screen and (max-width: 600px)
      width: 90%;
      margin: auto
  h2.festejando-title
    font-weight: 400
    margin: 15px 0 5px
    height: auto;
    min-height: auto !important
    font-size: 2rem;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 32px
    @media screen and (max-width: 600px)
      font-size: 1.3rem;
  .festejando-p
    text-align: center;
    margin: 0px;
    font-size: 2.3rem;
    font-weight: 700!important;
    @media screen and (max-width: 600px)
      font-size: 1rem;
  p.smaller
    font-size: 12px;
    margin-bottom: 15px
  h2, p
    color: #FFF
