#sign-in
  @import './btn-facebook'

  max-width: 400px
  margin: 0 auto
  padding: 0 15px
  padding-top: 20px;

  .title-page
    margin-top: 0
    margin-bottom: 0

  .facebook-auth-form
    margin-top: 5px;
    .muted
      text-align: center
      font-size: 0.0em
      color: #999

  .ingresar-title
    text-align center
    font-size 13px
    letter-spacing 1px
    text-transform uppercase
    margin-bottom: 35px;

  hr
    max-width: 80px
    width: 100%
    height: 1px
    border: 0
    margin: 1.6em auto 1em;
    background-color: #CACACA;

  .form-group
    overflow hidden

  .forgot
    position relative

    a
      position absolute
      right 0
      font-size 12px
      top 3px

  .resend-validation-email
    text-align center
    height 30px
    display flex
    justify-content center
    align-items center

    a
      font-size 13px
      color #ffffff
      width 100%
      background #75bfff
      padding 10px

  .signup
    padding: 10px;
    text-align: center;
    border-radius: 5px;

    span
      font-weight: 800;
      font-size: 1.0em;
      @media (min-width: 400px)
        font-size: 1.1em;

    button
      margin-top: 10px;
