#user-badges-wrapper form .form-group span.error
  top: 40px

h5
  font-size: 22px;
  margin-top: 30px;

.titleShow
  cursor: pointer

.activeAngle
  transform: rotate(3.142rad);

.glyphicon
  transition: all .3s ease-in;

.hiden
  height:0px
  overflow: hidden;
