version: '3'

services:
  app:
    environment:
      - STAFF=matias@democracyos.org
      - JWT_SECRET=
      - PROPUESTAS_ABIERTAS=false
      - PROPUESTAS_TEXTO_ABIERTAS=A partir del 19 de Marzo vas a poder subir propuestas
      - PROPUESTAS_TEXTO_CERRADAS=Estas viendo propuestas presentadas en el Presupuesto Participativo 2019
# Comentar estas líneas si se desea conectar a un container de mongo
# por fuera del compose, por ejemplo haciendo:
# docker run -d -p 27017:27017 --name mongodb-vl mongo:3.2
#    links:
#      - mongo
#  mongo:
#    image: mongo:3.2
#    ports:
#      - 27017:27017
#    volumes:
#      - ./tmp/db:/data/db

