@import './export-update/styles'
#topics-wrapper
  .well
    > *
      margin 4px 0

  .topics-pagination
    text-align: center

  .buscar-tema
    cursor pointer
    color: white
    background-color: #337ab7

    &:hover,&:focus
      background-color: #286090
