@import './export-update/styles'
#topics-wrapper
  .well
    > *
      margin 4px 0

  .topics-pagination
    text-align: center

  .buscar-tema
    cursor pointer
    color: white
    background-color: #337ab7

    &:hover,&:focus
      background-color: #286090

  .por-nombre
    font-weight: bold;
    padding-left: 4px
    padding-right: 4px
    line-height: 1em

  #topic-list
    .placa
      color: white;
      border-radius: 5px;
      padding: 1px 3px;
      background-color: #337ab7;

    .topic-status-data
      margin-top: 6px;
      font-size: 0.7em;
      span:first-child
        margin-left: 0;

    .topic-title
      margin-bottom: 0.5em;

    .topic-multi-tags
      .topic-tag
        font-size: 0.8em;
      .topic-tags
        font-size: 0.7em;

    .topic-buttons
      .btn
        margin: 0 3px;
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
