.ext-acerca-de
.ext-datos
.ext-terminos-y-condiciones
.ext-reglamento
.ext-herramientas
  position: relative
  @media screen and (max-width: 500px)
    padding: 0
    max-width: 630px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    & > a
      color: inherit

      &:hover
        border-bottom: 1px solid #666

  .thumbs
    background: transparent
    margin-top: 25px
    > div
      height:150px
      width: 150px
      @media screen and (min-width: 500px)
        height: 135px
        width: 135px
      background-size: contain

  .filas
    @media screen and (min-width: 500px)
      padding: 0 5%
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 15px
    text-align: center
    color: #696969

    @media screen and (min-width: 500px)
      font-size:13px
      text-align: left
    @media screen and (min-width: 769px)
      font-size: 16px
      padding: 0 10%

    h2
      font-size: 30px
      @media screen and (min-width: 500px)
        font-size:  24px
      font-family: 'BrandonGrotesque', sans-serif
      text-transform: uppercase
      text-align: center
      color: #696969
      margin: 0 0 15px

    .fila
      padding: 20px 30px 40px
      &:first-child
        padding-top:0
        @media screen and (max-width: 500px)
          .thumbs
            margin-top: 0
      @media screen and (min-width: 500px)
        padding: 20px 30px
      @media screen and (min-width: 769px)
        padding: 30px 60px


      &.no-bg
        background:none !important
        border: none !important

      &.con-icono
        .col-2
          display: flex
          justify-content: center
          align-items: center
          height: 250px

      @media screen and (min-width: 500px)
        .cols
          float: left

        .col-1
          width: 38%

        .col-2
          width: 62%
          a
            font-weight: normal
            &:hover
              color: #8C1E81

      &:nth-child(odd)
        background:#f9f9f9
        border: 1px solid #c2c2c2
        border-left: none
        border-right: none

        @media screen and (min-width: 500px)
          .cols
            float:right

      &:after
        content: ""
        display: table
        clear: both

  .map-box
    margin-bottom: 50px
    &:after
      content: ""
      display: table
      clear: both
    .mapa
      display: block
      text-align: center
      // para hacer el mapa responsive
      position: relative
      height: 0
      overflow: hidden
      padding-bottom: 75% // aspect ratio
      & iframe
        border: none
        position: absolute
        top: 0
        left: 0
        width: 100% !important
        height: 100% !important
.ext-acerca-de
  .subtitulo
    border-bottom: 1px solid #c2c2c2
    padding: 0 10px
    h2
      font-size: 2em
      text-transform: uppercase
      text-align: center
      font-family: 'BrandonGrotesque', sans-serif
      color: #71bf44
    p
      font-family: 'BrandonGrotesque', sans-serif
      color: #71bf44
      text-align: center
      font-size: 1.7em
  .boton-azul
    font-size: 16px
    margin: 10px 0 0
    padding: 10px 20px
  .faq
    text-align: center
    h3
      font-size: 1.2em
  .delegaciones
    display: flex
    flex-wrap: wrap
    justify-content: center
    div
      margin: 10px 20px 10px 0
      font-size: 14px
      width: 316px
      span
        display: block
      span:first-child
        font-weight: bold
.ext-herramientas
.ext-reglamento
.ext-datos
  color: #696969 !important
  padding-bottom: 20px
  max-width: 1000px
  width: 100%
  margin: 0 auto
  @media screen and (max-width: 1000px)
    padding: 0 5px
  .text
    font-size: 17px
    margin-bottom: 30px
  .seccion-datos
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 30px 0
    h3
      margin: 0 0 30px 0
      font-size: 22px
      color: #4D4D4D !important
      text-transform: uppercase
    figure.graph-box
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: center
      .graph-img
        width: 60%
        @media screen and (max-width: 550px)
          width: 100%
        img
          width: 100%
      .graph
        width: 450px
      figcaption
        width: 40%
        padding: 10px 0 20px
        display: flex
        flex-direction: column
        justify-content: space-between
        font-size: 17px
        @media screen and (max-width: 750px)
          font-size: 14px
        @media screen and (max-width: 550px)
          width: 100%
          padding-bottom: 0
          .caption
            margin-bottom: 0
        .graph-ref
          width: 100%
          max-width: 300px
          @media screen and (max-width: 550px)
            max-width: 280px
            align-self: center
      .tabla-presupuestoparticipativo
        margin: 0 auto
        font-family: 'BrandonGrotesque', sans-serif
        font-weight: bold
        text-transform: uppercase
        color: #4A4A49
        thead
          tr
            th
              width: 15%
              background-color: #ACDFF2
              padding: 15px
              text-align: center
              @media screen and (max-width: 550px)
                padding: 5px
                font-size: 12px
                font-weight: normal
        tbody
          tr
            td
              padding: 15px
              text-align: center
              &:nth-child(odd)
                background-color: white
              &:nth-child(even)
                background-color: #E8E8E8
              &:first-child
                background-color: #ACDFF2
              @media screen and (max-width: 550px)
                padding: 5px
                font-size: 12px
                font-weight: normal
  .infogram
    margin-bottom: 0
    figure
      margin: 0
  .infogram + .infogram
    margin-top: 0 !important
  .instructivo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    @media screen and (max-width: 768px)
      text-align: center
    img
      max-width: 900px
      max-height: 500px
      @media screen and (max-width: 768px)
        max-width: 600px
      @media screen and (max-width: 500px)
        max-width: 300px
    .btns-descargas
      text-align: center
      a
        margin: 10px
        &::before
          content: ''
          background-image: unquote("url('ext/lib/site/static-pages/DownloadFile.svg')")
          padding-left: 30px
          background-size: contain
          background-repeat: no-repeat
      .boton-azul
        font-size: 16px
        padding: 10px 20px    
  .descargas
    h4
      font-weight: bold
      font-size: 24px
      text-align: center
      color: #71bf44
      margin-top: 0
    .btns-descargas
      text-align: center
      a
        margin: 10px
        &::before
          content: ''
          background-image: unquote("url('ext/lib/site/static-pages/file-icon-white.png')")
          padding-left: 30px
          background-size: contain
          background-repeat: no-repeat
      .boton-azul
        font-size: 16px
        padding: 10px 20px

// BANNER PAGINAS ESTATICAS

.banner-static
  padding: 0
  height: 270px
  position: relative
  @media(max-width: 768px)
    height: 210px
  .banner
    width: 100%
    display: block
    margin: 0 auto
    height: 180px
    background-size: cover
    background-image: unquote("url('ext/lib/site/VialCosteroVteLopezImgBanner.jpg')") 
    background-repeat: no-repeat
    padding: 0
    @media(max-width: 768px)
      height: 150px
  .contenedor
    top: 140px
    position: absolute
    display: block
    text-align: center
    left: 0
    right: 0
    @media(max-width: 768px)
      top: 127px
    @media(max-width: 420px)
      top: 127px
      width: 75%
      margin: 0 auto
  
    .fondo-titulo
      display: inline-flex
      justify-content: center
      align-items: center
      background-color: #7cbb42
      color: white
      text-align: center
      box-shadow: 0 44px 12px -38px unquote("rgba(0, 0, 0, 0.31)")
      margin: 0 auto
      padding: 15px 40px 9px
      letter-spacing: 1px
      z-index: 99
      @media(max-width: 768px)
        box-shadow: 0 25px 3px -21px unquote("rgba(0, 0, 0, 0.31)")
        padding: 15px 20px 9px
      @media(max-width: 1085px)
        box-shadow: 0 25px 3px -21px unquote("rgba(0, 0, 0, 0.31)")

      h1
        font-family: 'BrandonGrotesqueBlack', sans-serif
        padding: 0
        margin: 0 auto
        font-size: 54px
        font-weight: 400
        text-transform: uppercase
        @media(max-width: 768px)
          font-size: 20px
        @media(max-width: 1085px) and (min-width: 768px)
          font-size: 40px
  .largo
    @media(max-width: 420px)
      top: 117px
      width: 60%

// BANNER TERMINOS Y CONDICIONES

.ext-terminos-y-condiciones
  padding: 0 15px 15px
  @media screen and (max-width: 768px)
    padding: 0 15px
  h2
    color: #7cbb42
.ext-reglamento
  p, li
    color: #555
  .articulo
    font-weight: bold
  .underline
    text-decoration: underline
  h2
    color: #7cbb42
  h4
    color: #444
        
  .tabla-presupuestos
    tbody
      tr
        td
          padding: 10px
        td:first-child
          font-weight: bold
  
.carousel-distribucion-proyectos
  max-width: 1000px
  width: 100%
  margin: auto
  .carousel-cell
    img
      width: 300px
      height: 300px
      margin: 0 20px
      @media screen and (max-width: 480px)
        width: 250px
        height: 250px

  .flickity-prev-next-button.previous
    background-image: unquote("url('ext/lib/site/static-pages/LeftArrowCarousel.svg')")
    left: -40px
  .flickity-prev-next-button.next
    background-image: unquote("url('ext/lib/site/static-pages/RightArrowCarousel.svg')")
    right: -40px

  .flickity-prev-next-button.previous,
  .flickity-prev-next-button.next
    background-size: contain;
    background-color: transparent
    height: 60px
    background-repeat: no-repeat;
    background-position: center
    @media screen and (min-width: 780px)
      height: 100px

    svg
      display: none

  .refe
    margin-top: 20px
    width: 100%
    max-width: 400px
