.ext-acerca-de
.ext-datos
  position: relative
  @media screen and (max-width: 500px)
    padding: 0
    max-width: 630px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    & > a
      color: inherit

      &:hover
        border-bottom: 1px solid #666

  .thumbs
    background: transparent
    margin-top: 25px
    > div
      height:150px
      width: 150px
      @media screen and (min-width: 500px)
        height: 135px
        width: 135px
      background-size: contain

  .filas
    @media screen and (min-width: 500px)
      padding: 0 5%
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 15px
    text-align: center
    color: #696969

    @media screen and (min-width: 500px)
      font-size:13px
      text-align: left
    @media screen and (min-width: 769px)
      font-size: 16px
      padding: 0 10%

    h2
      font-size: 30px
      @media screen and (min-width: 500px)
        font-size:  24px
      font-family: 'BrandonGrotesque', sans-serif
      text-transform: uppercase
      text-align: center
      color: #696969
      margin: 15px 0

    .fila
      padding: 20px 30px 40px
      &:first-child
        padding-top:0
        @media screen and (max-width: 500px)
          .thumbs
            margin-top: 0
      @media screen and (min-width: 500px)
        padding: 20px 30px
      @media screen and (min-width: 769px)
        padding: 30px 60px


      &.no-bg
        background:none !important
        border: none !important

      &.con-icono
        .col-2
          display: flex
          justify-content: center
          align-items: center
          height: 250px

      @media screen and (min-width: 500px)
        .cols
          float: left

        .col-1
          width: 38%

        .col-2
          width: 62%

      &:nth-child(odd)
        background:#f9f9f9
        border: 1px solid #c2c2c2
        border-left: none
        border-right: none

        @media screen and (min-width: 500px)
          .cols
            float:right

      &:after
        content: ""
        display: table
        clear: both

  .map-box
    margin-bottom: 50px
    &:after
      content: ""
      display: table
      clear: both
    .mapa
      display: block
      text-align: center
      // para hacer el mapa responsive
      position: relative
      height: 0
      overflow: hidden
      padding-bottom: 75% // aspect ratio
      & iframe
        border: none
        position: absolute
        top: 0
        left: 0
        width: 100% !important
        height: 100% !important
.ext-acerca-de
  .subtitulo
    margin-top: 10px
    border-bottom: 1px solid #c2c2c2
    padding: 10px
    h2
      font-size: 2em
      text-transform: uppercase
      text-align: center 
      font-family: 'BrandonGrotesque', sans-serif
      color: #71bf44
    p
      font-family: 'BrandonGrotesque', sans-serif
      color: #71bf44
      text-align: center
      font-size: 1.7em 
  .boton-azul
    font-size: 16px
    margin: 10px 0 0
    padding: 10px 20px
  .faq
    text-align: center
    h3
      font-size: 1.2em
  .delegaciones
    display: flex
    flex-wrap: wrap
    justify-content: center
    div
      margin: 10px 20px 10px 0
      font-size: 14px
      width: 316px
      span
        display: block
      span:first-child
        font-weight: bold

.ext-datos
  color: #696969 !important
  padding-bottom: 20px
  max-width: 1000px
  width: 100%
  margin: 0 auto
  .seccion-datos
    display: flex
    .text
      display: flex
      flex-direction: column
      justify-content: space-between
      img
        max-width: 300px
        width: 100%
  section
    margin-bottom: 20px

  .text
    font-size: 17px
    margin: 30px 0

  .graph-box
    img
      display: block
      margin: 0 auto
    .graph-ref
      width: 300px
      margin-bottom: 20px
    .graph
      width: 450px
      margin-top: 20px

  h3
    text-align: center
    font-size: 22px
    color: #4D4D4D !important
    text-transform: uppercase
    max-width: 80%
    margin: 100px 30px 50px

  .carousel-distribucion-proyectos
    width: 400px

  .descargas
    .btns-descargas
      text-align: center
      a
        margin: 10px
        &::before
          content: ''
          background-image: unquote("url('ext/lib/site/static-pages/file-icon-white.png')")
          padding-left: 30px
          background-size: contain
          background-repeat: no-repeat
      .boton-azul
        font-size: 16px!important
        padding: 10px 20px
    h4
      font-weight: 100;
      font-size: 24px;
      text-align: center
      color: #71bf44

.ext-terminos-y-condiciones
  p, li
    color: #555
  h2
    color: #7cbb42
  h4
    color: #444

  .container
    margin-bottom: 100px
  .banner-tyc
    padding: 0
    height: 270px
    margin-top: 75px
    .banner
      width: 100%
      display: block
      margin: 0 auto
      position: absolute
      top: 66px
      left: 0
      height: 180px
      background-size: cover
      background-image: unquote("url('ext/lib/site/assets/VialCosteroVteLopezImgBanner.png')")
      background-repeat: no-repeat
      padding: 0
    .contenedor
      top: 200px
      position: absolute
      display: block
      text-align: center
      left: 0
      right: 0
      @media(max-width: 1085px)
        top: 220px

      .fondo-titulo
        display: inline-flex
        justify-content: center
        align-items: center
        background-color: #7cbb42
        color: white
        text-align: center
        box-shadow: 0 44px 12px -38px unquote("rgba(0, 0, 0, 0.31)")
        margin: 0 auto
        padding: 15px 40px 9px
        letter-spacing: 1px
        z-index: 99
        @media(max-width: 768px)
          box-shadow: 0 25px 3px -21px unquote("rgba(0, 0, 0, 0.31)")
          padding: 15px 20px 9px
        @media(max-width: 1085px)
          box-shadow: 0 25px 3px -21px unquote("rgba(0, 0, 0, 0.31)")

        h1
          font-family: 'BrandonGrotesqueBlack', sans-serif
          padding: 0
          margin: 0 auto
          font-size: 54px
          font-weight: 400
          text-transform: uppercase
          @media(max-width: 768px)
            font-size: 20px
          @media(max-width: 1085px) and (min-width: 768px)
            font-size: 40px

.carousel-distribucion-proyectos
  max-width: 1000px
  width: 100%
  margin: auto
  .carousel-cell
    img
      margin: 0 20px
      width: 300px
      height: 300px

  .flickity-prev-next-button.previous
    background-image: unquote("url('ext/lib/site/static-pages/LeftArrowCarousel.svg')")
    left: -40px
  .flickity-prev-next-button.next
    background-image: unquote("url('ext/lib/site/static-pages/RightArrowCarousel.svg')")
    right: -40px

  .flickity-prev-next-button.previous,
  .flickity-prev-next-button.next
    background-size: contain;
    background-color: transparent
    height: 60px
    background-repeat: no-repeat;
    background-position: center
    @media screen and (min-width: 780px)
      height: 100px
    @media screen and (min-width: 1000px)
      height: 100px

    svg
      display: none

  .refe
    margin-top: 20px
    width: 100%
    max-width: 400px