.ext-acerca-de
.ext-datos
  position: relative
  @media screen and (max-width: 500px)
    padding: 0
    max-width: 630px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    & > a
      color: inherit

      &:hover
        border-bottom: 1px solid #666

  .thumbs
    background: transparent
    margin-top: 25px
    > div
      height:150px
      width: 150px
      @media screen and (min-width: 500px)
        height: 135px
        width: 135px
      background-size: contain

  .filas
    @media screen and (min-width: 500px)
      padding: 0 5%
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 15px
    text-align: center
    color: #696969

    @media screen and (min-width: 500px)
      font-size:13px
      text-align: left
    @media screen and (min-width: 769px)
      font-size: 16px
      padding: 0 10%

    h2
      font-size: 30px
      @media screen and (min-width: 500px)
        font-size:  24px
      font-family: 'BrandonGrotesque', sans-serif
      text-transform: uppercase
      text-align: center
      color: #696969
      margin: 15px 0

    .fila
      padding: 20px 30px 40px
      &:first-child
        padding-top:0
        @media screen and (max-width: 500px)
          .thumbs
            margin-top: 0
      @media screen and (min-width: 500px)
        padding: 20px 30px
      @media screen and (min-width: 769px)
        padding: 30px 60px


      &.no-bg
        background:none !important
        border: none !important

      &.con-icono
        .col-2
          display: flex
          justify-content: center
          align-items: center
          height: 250px

      @media screen and (min-width: 500px)
        .cols
          float: left

        .col-1
          width: 38%

        .col-2
          width: 62%

      &:nth-child(even)
        background:#f9f9f9
        border: 1px solid #c2c2c2
        border-left: none
        border-right: none

        @media screen and (min-width: 500px)
          .cols
            float:right

      &:after
        content: ""
        display: table
        clear: both

  .map-box
    margin-bottom: 50px
    &:after
      content: ""
      display: table
      clear: both
    .mapa
      display: block
      text-align: center
      & iframe
        border: none
.ext-acerca-de
  .faq
    text-align: center
    h3
      font-size: 1.2em
  .delegaciones
    display: flex
    flex-wrap: wrap
    justify-content: center
    div
      margin: 10px 20px 10px 0
      font-size: 14px
      width: 316px
      span
        display: block
      span:first-child
        font-weight: bold

.ext-datos
  color: #696969 !important
  padding-bottom: 20px
  max-width: 1000px
  width: 100%
  margin: 0 auto
  section
    margin-bottom: 20px

  .text
    font-size: 17px
    margin: 30px 0

  .graph-box
    img
      display: block
      margin: 0 auto
    .graph-ref
      width: 300px
      margin-bottom: 20px
    .graph
      width: 450px
      margin-top: 20px

  h3
    text-align: center
    font-size: 22px
    color: #4D4D4D !important
    text-transform: uppercase
    max-width: 80%
    margin: 100px auto 50px

  .carousel-distribucion-proyectos
    width: 300px

.carousel-distribucion-proyectos
  width: 1000px
  margin: auto;
  @media screen and (max-width: 1200px)
    width: 100%
  .carousel-cell
    img
      margin: 0 20px
      width: 300px
      height: 300px

  .flickity-prev-next-button.previous
    background-image: unquote("url('ext/lib/site/static-pages/LeftArrowCarousel.svg')")
    left: -40px
  .flickity-prev-next-button.next
    background-image: unquote("url('ext/lib/site/static-pages/RightArrowCarousel.svg')")
    right: -40px

  .flickity-prev-next-button.previous,
  .flickity-prev-next-button.next
    background-size: contain;
    background-color: transparent
    height: 60px
    background-repeat: no-repeat;
    background-position: center
    @media screen and (min-width: 780px)
      height: 100px
    @media screen and (min-width: 1000px)
      height: 100px

    svg
      display: none

  .refe
    margin-top: 20px
    width: 300px
    max-width: 80%
    @media screen and (min-width: 780px)
      max-width: 400px
