.donut-chart-wrapper
    canvas 
        margin: 0 auto 40px;
.chart-controls
    width: 100%;
    text-align: center;
.select-toggle-chart__wrapper
    background-color: rgba(0, 0, 0, 0.1);
    height: 35px;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    width: 80%;
    display: inline-block;
    @media (max-width: 500px) 
        width: 70%;
.select-toggle-chart
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 35px;
    line-height: 35px;
    padding: 0;
    color: #4d4d4d;
    width: 100%;
    text-align-last: center;
    -moz-text-align-last: center;
    text-align: -webkit-center;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
.select-toggle-chart__icon
    position: absolute;
    right: 15px;
    top: 10px;

.button-toggle-chart
    background-color: rgba(0, 0, 0, 0.1);
    height: 35px;
    border-radius: 4px;
    width: 35px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
.button-toggle-chart__left
    margin-right: 10px; 
.button-toggle-chart__right
    margin-left: 10px;   
.button-toggle-chart__icon
    top: 10px;
    position: relative;