@import '../jump-button/styles'
@import '../datos-forum/styles'
@import './filter/styles'
@import './grid/styles'
@import './header/styles'

#forum-home
  padding-bottom: 0
  .grid-container
    padding: 58px 170px
  .paginacion-container
    display: flex
    justify-content: center
    margin-bottom: 58px