.banner-p
  padding: 0

  .banner

    width: 100%
    display: block
    margin: 0 auto
    height: 180px
    background-size: cover
    background-image: unquote("url('ext/lib/site/banner-foro-vecinal/VialCosteroVteLopezImgBanner.png')")
    background-repeat: no-repeat
    padding: 0
  .contenedor
    height: 90px
    top: -45
    position: relative
    display: block
    margin: 0 auto
    width: 90%
    @media screen and (min-width: 620px)
      width: 614px


    .fondo-titulo
      display: flex
      justify-content: center
      align-items: center
      height: 90px
      background-color: #7cbb42
      color: white
      text-align: center
      box-shadow: 0 0 7px 0 unquote("rgba(0, 0, 0, 0.31)")
      margin: 0 auto
      padding: 0
    h1
      font-family: 'BrandonGrotesqueBlack', sans-serif
      padding: 0
      margin: 0 auto
      font-size: 10vw
      font-weight: 400
      @media screen and (min-width: 620px)
        font-size: 4rem
