.seccion-barrios

  background-color: #e9e9e9
  width: 100%
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.31)
  font-family: 'Roboto', sans-serif
  .barrio-verde
    border-radius: 0
    background-color: #1c8045
    display: inline-block
    font-weight: 400
    line-height: 1.25
    text-align: center
    white-space: nowrap
    vertical-align: middle
    padding: .5rem 1rem
  h3
    font-size: 1.4rem
    margin: 0
  h2
    font-size: 2rem
    margin: 10%
  .boton-azul
    background-color: #1791be
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12)
    color: white
    font-weight: 300
    padding: 10% 8%
    margin-top: 10%
    // font-size: 1.3em
    display: inline-block
