.ext-topic-card
  font-family: 'Roboto', sans-serif
  display: inline-block
  flex-direction: column
  z-index: 0
  position: relative
  margin-left: 4.5%
  margin-top: 4%
  width: 24.79%
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24)
  color: inherit
  transition: all .3s unquote('cubic-bezier(.25,.8,.25,1)')
  background-color: #fff

  &:hover
    box-shadow 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23)

  .topic-card-cover
    display: block
    position: relative
    width: 100%
    background-size: cover
    background-position: center
    background-color: #efefef


    &:after
      content ''
      display block
      padding-top 50%

  .topic-card-info
    // border-top: 4px solid #00adef
    flex-grow: 2
    display: flex
    flex-direction: column
    padding: 3%
    @media screen and (min-width: 750px)
      padding: 5px



  .topic-card-tags
    .badge
      margin-right: 5px
      margin-bottom: 5px

  .topic-card-description
    margin: 0 0 1.2em
    color: #444
    font-weight: 300
    line-height: 1.25
    font-size: 2vw

    a
      font-weight: inherit
      color: inherit

      &:hover
        text-decoration: none


  &.has-votes
    .budget
      color: #A5A9AA
      font-weight: 400

  &.proyectado
    .state
      background-color: #00adef

    // .topic-card-info
      // border-top-color: #00adef

  &.finalizado
    .state
      background-color: #30aa2d

    // .topic-card-info
      // border-top-color: #30aa2d

  &.ejecutandose
    // .state
      // background-color: #F39431

    .topic-card-info
      // border-top-color: #F39431

  .topic-card-info
    // border-top-color: #999
    position: relative

  .state
    z-index: 10
    position: absolute
    right: 0
    top: -107px
    padding: 7px 16px
    line-height: 1
    color: #fff
    font-size: 21px
    font-weight: 500
    background-color: #00adef

  .topic-results
    padding: 12px 15px 9px
    color: #00adef
    border-bottom: 1px solid #00adef

    h2,
    p
      margin: 0
      color: inherit
      text-transform: uppercase
      font-weight: 600

    h2
      font-size: 20px

    p
      font-size: 14px

  .topic-location
    color: #a5a9aa

    margin-bottom: 0.8em

    i
      margin-right: .5em



  .number
    float: right
    font-size: 2vw

  .topic-card-title

    font-size: 8vw
    @media screen and (min-width: 750px)
      font-size: 1.125em

  .topic-card-body
    flex: 1

  .topic-card-footer
    text-align: right
    align-self: flex-end
    width: 100%
    position: relative

  .budget
    margin: 0
    color: white
    font-weight: 900
    line-height: 1
    font-size: 24px
    bottom: 0


  .social-links
    position: absolute
    font-size: 20px

    span
      cursor: pointer
      margin-right: 7px
      color: #999

    .wp
      background-image: unquote("url('ext/lib/site/carrusel/whatsapp.svg')")
      width: 30px
      height: 30px
      background-size: cover
      background-repeat: no-repeat
      display: inline-block
      margin-top: 0
    .twittericon
      background-image: unquote("url('ext/lib/site/carrusel/twitter.svg')")

    .facebookicon
      background-image: unquote("url('ext/lib/site/carrusel/facebook.svg')")

    .linkclipboardicon
      background-image: unquote("url('ext/lib/site/carrusel/linkclipboard.svg')")



@import '../../../node_modules/flickity/css/flickity.css'
