.ext-topic-card
  font-family: 'Roboto', sans-serif
  display: inline-block
  flex-direction: column
  z-index: 0
  position: relative
  margin-left: 4.5%
  margin-top: 4%
  width: 24.79%

  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24)
  color: inherit
  transition: all .3s unquote('cubic-bezier(.25,.8,.25,1)')
  background-color: #fff
  height: 486px
  overflow: auto

  &:hover
    box-shadow 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23)
  .topic-card-title
    margin: 0 0 .8em
    color: #93c01f
    font-weight: 700
    line-height: 1.3
    text-transform: uppercase
    font-family: 'Roboto', sans-serif

    a
      color: inherit

      &:hover
        text-decoration: none

    font-size: 2vw
    @media screen and (min-width: 750px)
      font-size: 1.5rem
  .wp
  .facebook-icon
  .twitter-icon
  .linkclipboard-icon
    background-size: cover
    background-repeat: no-repeat
    display: inline-block
    margin-top: 0
    margin-right: 3%
    width: 8px
    height: 8px
    @media screen and (min-width: 750px)
      width: 35px
      height: 35px

  .twitter-icon
    background-image: unquote("url('ext/lib/site/carrusel/twitter.svg')")

  .facebook-icon
    background-image: unquote("url('ext/lib/site/carrusel/facebook.svg')")

  .linkclipboard-icon
    background-image: unquote("url('ext/lib/site/carrusel/linkclipboard.svg')")
  .wp
    background-image: unquote("url('ext/lib/site/carrusel/whatsapp.svg')")

  .budget
    display: block
    margin: 0
    color: white
    font-weight: 900
    right: 10
    position: absolute
    bottom: 0
    font-size: 3vw
    @media screen and (min-width: 750px)
      font-size: 1.5rem

  .number
    font-size: 2vw
    @media screen and (min-width: 750px)
      font-size: 1rem

  .topic-card-cover
    display: block
    position: relative
    width: 100%
    background-size: cover
    background-position: center
    background-color: #efefef


    &:after
      content ''
      display block
      padding-top 50%

  .topic-card-info
    // border-top: 4px solid #00adef
    flex-grow: 2
    display: flex
    flex-direction: column
    padding: 3%
    @media screen and (min-width: 750px)
      padding: 5px



  .topic-card-tags
    .badge
      margin-right: 5px
      margin-bottom: 5px

  .topic-card-description

    display: flex
    margin: 0 0 1.2em
    color: #444
    font-weight: 300
    line-height: 1.25
    font-size: 2vw

    @media screen and (min-width: 750px)
      font-size: 1rem

    a
      font-weight: inherit
      color: inherit
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
      word-wrap: break-word
      max-width: 300ch
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertica

      &:hover
        text-decoration: none



  &.has-votes
    .budget
      color: #A5A9AA
      font-weight: 400

  &.proyectado
    .state
      background-color: #00adef

    // .topic-card-info
      // border-top-color: #00adef

  &.finalizado
    .state
      background-color: #30aa2d

    // .topic-card-info
      // border-top-color: #30aa2d

  &.ejecutandose
    // .state
      // background-color: #F39431

    .topic-card-info
      // border-top-color: #F39431
      height: 250px

  .topic-card-info
    // border-top-color: #999
    position: relative

  .state
    z-index: 10
    position: absolute
    right: 0
    top: -107px
    padding: 7px 16px
    line-height: 1
    color: #fff
    font-size: 21px
    font-weight: 500
    background-color: #00adef

  .topic-results
    padding: 12px 15px 9px
    color: #00adef
    border-bottom: 1px solid #00adef

  //   h2,
  //   p
  //     margin: 0
  //     color: inherit
  //     text-transform: uppercase
  //     font-weight: 600
  //
  //   h2
  //     font-size: 20px
  //
  //   p
  //     font-size: 14px
  //
  // .topic-location
  //   color: #a5a9aa
  //
  //   margin-bottom: 0.8em
  //
  //   i
  //     margin-right: .5em
  //




  .topic-card-body
    flex: 1


  .topic-card-footer
    text-align: right
    align-self: flex-end
    width: 100%
    position: relative

  .social-links
    position: absolute
    font-size: 20px

    span
      cursor: pointer
      margin-right: 7px
      color: #999
    h2
      border-bottom: 3px solid #93c01f
      font-family: 'BrandonGrotesque', sans-serif
      color: #93c01f
      padding: 0
      margin: 0
      font-size: 8vw
      @media screen and (min-width: 750px)
        font-size: 4rem
  .row
    width: 100%
  .boton-azul
    background-color: #1791be

    color: white
    box-shadow: 0 6px 4px -2px unquote("rgba(0, 0, 0, 0.24)"), 0 0 2px 0 unquote("rgba(0, 0, 0, 0.12)")
    color white
    margin-top: 10%
    align-items: center
    justify-content: center
    font-weight: 500
    font-size: 3vw
    margin-bottom: 3%


    @media screen and (min-width: 764px)
      font-size: 1.5rem
      line-height: 24px
      height: 77px
      width: 200px

  .cont-barrio
    margin-top: 3%
    text-align: center
  .cont-boton-azul
    text-align: center
  .portada
    background-color: #93c01f
    height: 227.2px
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0


      background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 99%)
      background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 99%)
      background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 99%)
      background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 99%)



@import '../../../node_modules/flickity/css/flickity.css'
