.seccion-general
  padding: 0

  .banner
    font-family: 'Roboto', sans-serif
    width: 100%
    display: block
    margin: 0 auto
    height: 444px
    background-size: cover
    background-image: unquote("url('ext/lib/site/banner-foro-vecinal/VialCosteroVteLopezImgBanner.png')")
    background-repeat: no-repeat
    padding: 0
  .contenedor
    height: 90px
    top: -45
    position: relative
    display: block
    margin: 0 auto


    .fondo-titulo
      display: flex
      justify-content: center
      align-items: center
      height: 90px
      background-color: #7cbb42
      color: white
      text-align: center
      box-shadow: 0 0 7px 0 unquote("rgba(0, 0, 0, 0.31)")
      margin: 0 auto
      font-size: 3rem
      // position: absolute
      padding: 1.5% 3.5%
      // right: 0
