.banner-fv
  padding: 0
  position: relative;
  margin-bottom: 50px;
  @media screen and (min-width: 620px)
    margin-bottom: 160px;

  .banner
    width: 100%
    display: block
    margin: 0 auto
    height: 180px
    background-size: cover
    background-image: unquote("url('ext/lib/site/banner-foro-vecinal/VialCosteroVteLopezImgBanner.png')")
    background-repeat: no-repeat
    padding: 0
  .contenedor
    height: 90px;
    bottom: -45px;
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    right: 0;

    .fondo-titulo
      display: inline-flex;
      justify-content: center
      align-items: center
      background-color: #7cbb42
      color: white
      text-align: center
      box-shadow: 0 44px 12px -38px unquote("rgba(0, 0, 0, 0.31)")
      margin: 0 auto
      padding: 20px
    h1
      font-family: 'BrandonGrotesqueBlack', sans-serif
      padding: 0
      margin: 0 auto
      font-size: 28px
      font-weight: 400
      text-transform: uppercase
      @media screen and (min-width: 620px)
        font-size: 3.7rem
