.topic-article-header
  position relative
  padding-top: 0
  margin: -42px auto 27px

  h1
    display: flex
    justify-content: center
    align-items: center
    background-color: #7cbb42
    color: white
    text-align: center
    box-shadow: 0 26px 6px -20px rgba(0, 0, 0, 0.31)
    @media screen and (min-width: 620px)
      width: auto
      font-size: 4rem
    @media screen and (min-width: 400px)
      font-size: 2.5rem

    font-family: 'BrandonGrotesqueBlack', sans-serif
    padding: 10px
    margin: 0 auto 10px
    font-size: 1.5rem
    font-weight: 400
    text-transform: uppercase


  h4
    text-align center
    margin 35px 0 0 0
    text-transform uppercase
    font-size 11px

  h2.author
    color #666
    font-size 16px
    font-weight normal
    margin 1em 0 0

  .meta-information
    margin-bottom 10px
    color #666
    font-size 16px

    .icon-clock
      margin-right 6px
      font-size 13px

    .meta-timeago,
    .meta-timeago-label
      display inline-block

    .label
      display inline-block
      margin-right 10px
      border-radius 0

  .topic-tags
    margin: 0
    a
      background: #a5a5a5
      padding: 0px 8px 1px
      margin: 5px 5px 0 0
      display: inline-block
      border-radius: 10px
      color: #fff
      font-size: 12px
      font-weight: 400
      &:hover
        text-decoration: none
@media screen and (max-width: 1157px)
  .entry-tag
    display none
