#user-badges-wrapper form .form-group span.error
  top: 40px

h5
  font-size: 22px;
  margin-top: 30px;

.panel-group-data
  display: flex
  flex-wrap: wrap
  .bs-callout-right
    margin:8px 0
    .panel-heading
      background-color: #fff
      border-bottom: none 
      .head-action
        position: absolute;
        top: 0;
        right: 0
        padding 8px
    .panel-collapsable
      .actions
        span
          margin-left: 8px 
.form
  .form-group
    h4
      margin-bottom: 2px

.actionsForm
  text-align: right 
  button
    margin-right: 8px 

.msg.success
  color: #27ae60

.btn
  margin-left: 5px
  margin-bottom: 8px