.thumbs-acerca
  background-color:#ffffff
  font-family: 'Roboto', sans-serif
  color: #696969
  position: relative
  overflow: hidden
  &.info-landing
    // margin: 30px 0;
    // margin: 0px 0;
    padding-top: 30px;
    &::after
      content: ""
      position: absolute
      width: 100%
      left: 0
      bottom: 0
      // box-shadow: 0 0 8px 1px #747474
  h2
    text-align: center
    font-size: 2rem
    text-transform: uppercase
    font-weight: 400
    margin: 11px 0 34px
  p
    margin-bottom: 6%
    line-height: 1.5
    font-weight: 400
    padding: 0 33px
    font-size: 22px
  .subtitulo
    margin: 10px auto 20px
    padding: 0 10%;
    text-align: center
    h2
      font-size: 1.6em
      text-transform: initial
      text-align: center
      color: #fff
      font-weight: 700
      margin:30 0 0
      @media(max-width: 460px)
        max-width:390px
        font-size: 1.2em
      &.thumbs
        min-height:1em !important

    h3
      font-size:1.2em
      font-weight: 300
      margin: 0 0 20px 0
      color: #fff
      @media(max-width: 465px)
        font-size:1em

    .btn-container
      margin: 2em
      a
        color: #0099c3
        font-weight: 400
        margin: 5px 10px

    p
      font-size:1.2em
      font-weight: 300
      margin: 0 0 40px 0
      color: #fff
  .cont-boton-azul
    text-align: center
  .que-son
  .como-voto
  .donde-voto
  .que-propongo
  .como-sigo
    width: 200px
    height: 200px
    display: auto
    position: relative
    margin: 0 auto
    background-repeat: no-repeat
    background-position: center
    background-size: 186px

  .que-son-cont
    margin-left: 3.62%
  .que-propongo-cont
    a
      color: #1791be
      font-weight: 400
    a:hover
      color: rgb(140,30,129)
  .donde-voto-cont
    margin-right: 3.62%
    a
      display: block
      color: #1791be
      font-weight: 400
    a:hover
      color: rgb(140,30,129)
  .como-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/voto6.svg')")
  .donde-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/location3.svg')")

.blue-background
  width:100%
  height: 700px
  z-index:-100
  position:absolute
  background-color:#0099c3

.boton-azul.boton-blanco
    align-items: center
    background-color: #fff
    color: #0099c3
    display: inline-block
    font-family: 'Roboto', sans-serif
    font-weight: 500
    text-transform: none
    margin: 0px
    line-height: 1
    cursor: pointer
    font-size: 18px
    padding: 10px
    border: none
    box-shadow: none
    a:hover
      background-color: #fff


// .thumbs h2
//   min-height:2em !important

h2.donde-voto
  width:270px
