.festejando
  padding: 30px 10px
  background: rgb(136,41,130)
  background: linear-gradient(205deg, rgba(136,41,130,1) 25%, rgba(87,43,127,1) 75%)
  h2.festejando-title
    font-weight: 800
    margin: 15px 0 5px
    height: auto;
    min-height: auto !important
    font-size: 2.2rem;
    letter-spacing: -2px;
    text-align: center;
  p.festejando-p
    text-align: center;
    margin: 0px;
  p.smaller
    font-size: 12px;
    margin-bottom: 15px
  h2, p
    color: #FFF