.ext-home-ideas
  @import './topic-card/styles'
  .badge
    background-color: #999
  .etiquetas
    h3
      margin: 0 0 10px 0
      font-size: 20px
      color: #666
      font-weight: 500

    .forum-tags
      font-size: 1.3em
      margin-bottom: 15px
      a
        background-color: #1D9DC1
        font-size: .65em
        border-radius: 35px
        color: #fff
        padding:6px 10px 6px 10px
        font-weight: normal
        text-decoration: none !important
      a:hover
        text-decoration: none !important
        color: #fff !important
      .badge
        margin: 0 .4em .4em 0
        &.active
          background: #ccc

  .list-tools
    display: flex
    align-items: center
    justify-content: space-between
    margin: 2em 0 1em
    a.boton-azul
      font-size: 20px
      padding: 10px
    
  .topics-filter
    display: inline-block
    button
      box-shadow: none

  button
    border: none
    margin-right: .5em
  .more-topics
    width: 100%
    padding: 0 0 20px 0
    text-align: center
    button
      cursor: pointer
      margin: 6px
      width: 180px
      border-radius: 5px
      padding: 0.8rem
      background-color: #099dc3
      color: #fff
      border: none
      font-size: 20px
      text-transform: uppercase



a.boton-azul.btn.propuesta
  font-size: 15px !important
  padding: 10px

.alert-duedate
  display: block
  float:left
  font-size: 0.9em
  color: #666
  margin: 15px
  font-style: italic
  @media screen and (min-width: 600px)
    padding-top:30px

.etiquetas&.barrio
  padding-rop:20px !important    