.ext-home-ideas
  @import './topic-card/styles'
  @import './filter-propuestas/styles'

  button
    border: none
    margin-right: .5em

  .more-topics
    width: 100%
    padding: 0 0 20px 0
    text-align: center
    button
      cursor: pointer
      margin: 6px
      width: 180px
      border-radius: 5px
      padding: 0.8rem
      background-color: #099dc3
      color: #fff
      border: none
      font-size: 20px
      text-transform: uppercase

  .notice
    h1
      margin: 0;
      font-size: 1.6rem;
      @media screen and (min-width: 600px)
        font-size: 2rem;
    margin: -1.5em auto 0em
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #7cbb42;
    color: #fff;
    text-align: center;
    z-index: 1;

  .alert-duedate
    display: block
    float:left
    font-size: 0.9em
    color: #666
    margin: 15px
    font-style: italic
    max-width: 345px
    @media screen and (min-width: 600px)
      padding-top:30px
