.seccion-barrios-proyectos
  font-family: 'BrandonGrotesque', sans-serif
  width: 100%
  display: -webkit-flex
  display: flex
  flex-wrap: wrap
  h2
  h3
    font-weight: 500
  .row
    width: 100%
  .cont-barrio
    margin-top: 3%
    text-align: center


  .seccion-botones
    margin-bottom: 3%
    text-align: center
  .contenedor-boton
    margin: 3% 0 0 5%


  button:hover
    background-color: #106c8e


  button.active
    background: linear-gradient(to right, #099dc3, #8a288f)

    a
      color: unquote("rgb(198, 198, 198)")
