.seccion-datos-por-foro
  position: relative
  overflow: hidden
  background-color: pink
  /*
  &::before
    content: ""
    position: absolute
    width: 100%
    left: 0
    top: 0
    box-shadow: 0 0 8px 1px #747474
  &::after
    content: ""
    position: absolute
    width: 100%
    left: 0
    bottom: 0
    box-shadow: 0 0 8px 1px #747474
    */
  .datos-wrapper
    .recuadro-datos-foro
      background-color: grey
      h2
        color: brown
      p
        color: brown