.seccion-datos-por-foro
  position: relative
  overflow: hidden
  /*
  &::before
    content: ""
    position: absolute
    width: 100%
    left: 0
    top: 0
    box-shadow: 0 0 8px 1px #747474
  &::after
    content: ""
    position: absolute
    width: 100%
    left: 0
    bottom: 0
    box-shadow: 0 0 8px 1px #747474
    */
  .datos-wrapper
    font-weight: 100
    font-size: 20px
    .recuadro-datos-foro
      margin: 0 auto 30px
      max-width: 848px
      text-align: center
      background: #e3e3e3
      color: #555!important
      padding: 20px 60px
      box-shadow: 0 3px 10px -2px #555
      border-radius: 2px
      a
        border: none
      a:hover
        color: #fff
        text-decoration: none