.seccion-datos-por-foro
  position: relative
  overflow: hidden
  font-family: 'Roboto', sans-serif
  text-align: center
  text-transform: uppercase
  height: 200px
  .presupuesto-asignado
    background-color: #71bf44
    color: #FFFFFF
    h3
      padding: 10px
  .div-boleta
    margin-top: 0
    padding: 10px
    a
      background: #FFFFFF
      color: #71bf44
      font-size: 20px
      padding: 10px