.thumbs
  background-color:#ffffff
  font-family: 'Roboto', sans-serif
  color: #696969
  position: relative
  overflow: hidden
  &.info-landing
    padding-bottom: 66px
    &::after
      content: ""
      position: absolute
      width: 100%
      left: 0
      bottom: 0
      box-shadow: 0 0 8px 1px #747474
  h2
    text-align: center
    font-size: 2rem
    text-transform: uppercase
    font-weight: 400
    margin: 11px 0 34px
  p
    margin-bottom: 6%
    line-height: 1.5
    font-weight: 400
    padding: 0 33px
    font-size: 22px
  .subtitulo
    margin-top: 10px
    h2
      font-size: 2em
      text-transform: uppercase
      text-align: center 
      font-family: 'BrandonGrotesque', sans-serif
      color: #71bf44
      margin-bottom: 10px
      font-weight: 500
    p
      font-family: 'BrandonGrotesque', sans-serif
      color: #71bf44
      text-align: center
      font-size: 1.75em
      font-weight: 500
      padding: 0 70px 
  .cont-boton-azul
    text-align: center
  .que-son
  .como-voto
  .donde-voto
    width: 200px
    height: 200px
    background-repeat: no-repeat
    display: auto
    position: relative
    background-size: 186px
    margin: 0 auto
  .que-son-cont
    margin-left: 3.62%
  .donde-voto-cont
    margin-right: 3.62%
    a
      color: #696969
      font-weight: 400
    a:hover
      color: rgb(140,30,129)
  .que-son
    background-image: unquote("url('/ext/lib/site/thumbs-voto/foros-vecinales-icono.svg')")
    background-position: center
  .como-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/voto6.svg')")
    background-position: center
  .donde-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/location3.svg')")
    background-position: center
