.thumbs
  background-color:#ffffff
  font-family: 'Roboto', sans-serif
  margin-bottom: 3%
  color: #4a4a49
  h2
    text-align: center
    font-size: 2rem
    text-transform: uppercase
    font-weight: 400
  p
    margin-bottom: 6%
    line-height: 1.5
    font-weight: 400
  .cont-boton-azul
    text-align: center
  .que-son
  .como-voto
  .donde-voto
    width: 100px
    height: 100px
    background-repeat: no-repeat
    display: auto
    position: relative
    background-size: contain
    margin: 0 auto
  .que-son-cont
    margin-left: 3.62%
  .donde-voto-cont
    margin-right: 3.62%
  .que-son
    background-image: unquote("url('/ext/lib/site/thumbs-voto/foros-vecinales-icono.svg')")
    background-position: center
  .como-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/voto6.svg')")
    background-position: center
  .donde-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/location3.svg')")
    background-position: center
  .boton-azul
    background-color: #1791be

    color: white
    box-shadow: 0 6px 4px -2px unquote("rgba(0, 0, 0, 0.24)"), 0 0 2px 0 unquote("rgba(0, 0, 0, 0.12)")
    color white
    margin-top: 10%
    align-items: center
    justify-content: center
    font-weight: 500
    font-size: 3vw


    @media screen and (min-width: 764px)
      font-size: 1.5rem
      line-height: 24px
      height: 77px
      width: 200px
