nav.navbar
  padding: 0 4px
  @media screen and (min-width: 455px)
    padding: 0 1rem
  .navbar-brand
    padding-top: 0
    padding-bottom: 0
    margin: 0
  a
    color: #71bf44
    text-transform: uppercase
    font-family: 'Roboto', sans-serif
    font-weight: 400
    // padding: 0 auto
  ul
    margin-top: 15px
    @media screen and (min-width: 455px)
      margin-top: 25px
  .navbar-brand
    img
      margin-top: 5px
      height: 45px
      @media screen and (min-width: 455px)
        height: 73px
        margin-top: 0
  .nav-link
    text-transform uppercase
    color inherit
    font-size 12px
    padding-top .7rem
    padding-bottom .7rem
    span.icon-bell
      font-size 16px
      font-weight bold
  #toggleButton
    display none
    float left
    background none
    border none
    color inherit
    padding .5rem 0
    margin-right 10px
    .icon-menu
      font-size 22px

@media screen and (max-width: 700px)
  #toggleButton
    display block!important

// @import 'lib/header/user-badge/styles'
