@import "mobile-menu/styles"
@import "user-badge/styles"

#outer-layout
  padding: 0 !important
nav.navbar
  box-shadow 1px 1px 1px -1px rgba(#000, .175)
  padding: 13px 1rem 13px 32px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  &:before, &:after
    content: none
  .navbar-brand
    padding: 0
    margin-right: 0
    height: auto;
    img
      height: 30px
      @media screen and (min-width: 1080px)
        -moz-heigth: 60%
    .logo-mobile
      height: 30px
  a
    color: #00a9ce
    text-transform: uppercase
    font-weight: bold
  a.active
    color: #8c1e81
  .navbar-nav
    font-size: 17px
    display: flex
    align-items center
    .user-badge
      .user-badge-link
        margin: 0
    .nav-item //campanita notificaciones
      margin: 0 20px
      @media screen and (min-width: 500px)
        margin: 0 25px
      .nav-link
        color inherit
        span.icon-bell
          font-size: 24px
          color: #00a9ce
          @media screen and (min-width: 975px)
            font-weight: bold
  .header-item
    margin-left 25px
    font-weight: bold
    .header-link
      height: auto
      position: relative
      &:hover
        color: #8C1E81
  .user-badge-helper
    margin-left 10px

 a.header-link.anon-user
  text-transform:lowercase
