#outer-layout
  padding: 0 !important
nav.navbar
  padding: 1rem
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  //overflow: hidden
  &:after
    content: none
  .navbar-brand
    padding: 0
    img
      height: 47px
      @media screen and (min-width: 1080px)
        width: 100%
        height: auto
    .logo-mobile
      height: 15%
  a
    color: #71bf44
    text-transform: uppercase
    font-family: 'Roboto', sans-serif
    font-weight: bold
  .navbar-nav
    font-size: 17px
    display: flex
    align-items center
    .user-badge
      //height: 60px
      .user-badge-link
        margin: 0
    .nav-item
      margin: 0 15px
      @media screen and (min-width: 500px)
        margin: 0 25px
      .nav-link
        color inherit
        span.icon-bell
          font-size: 22px
          color: #71bf44
          @media screen and (min-width: 975px)
            font-weight: bold
      #toggleButton
        display none
        float left
        background none
        border none
        color inherit
        padding .5rem 0
        margin-right 10px
        .icon-menu
          font-size 22px
  .header-item
    margin-left 25px
    font-weight: bold
    .header-link:hover
      color: #8C1E81
  .user-badge-helper
    margin-left 0