.seccion-foros-datos
  padding-bottom: 30px
  position: relative
  overflow: hidden
  text-align: center
  &::before
    content: ""
    position: absolute
    width: 100%
    left: 0
    top: 0
    box-shadow: 0 0 8px 1px #747474
  &::after
    content: ""
    position: absolute
    width: 100%
    left: 0
    bottom: 0
    box-shadow: 0 0 8px 1px #747474
  .fondo-titulo
    margin-bottom: 35px
  h3
    font-size: 18px
    text-align: center
  .cont-boton-azul
    margin: 80px 0 10px
  p
    font-size: 17px
    max-width: 700px
    text-align: center
    margin: 0 auto 50px
    color: #696969
