.seccion-foros-datos
  margin-bottom: 30px
  position: relative
  overflow: hidden
  text-align: center
  &::before
    content: ""
    position: absolute
    width: 100%
    left: 0
    top: 0
    box-shadow: 0 0 8px 1px #747474
  .fondo-titulo
    margin-bottom: 75px
  h3
    font-size: 18px
    text-align: center
