.seccion-foros-datos
  padding-bottom: 30px
  position: relative
  overflow: hidden
  text-align: center
  background-color: #e9e9e9
  .fondo-titulo
    margin-bottom: 35px
  .datos
    display: flex
    flex-direction: column
    align-items: center
    @media screen and (max-width: 580px)
      padding: 0 10px
    .graph-box
      margin: 0
      figcaption
        margin-top: 20px
      .graph-png
        width:50%  
        @media screen and (max-width: 580px)
          width: 100%
  h3
    font-size: 18px
    text-align: center
  .cont-boton-azul
    margin: 0 0 10px
  p
    font-size: 17px
    max-width: 700px
    text-align: center
    margin: 0 auto 30px
    color: #696969
