@import '../../../../lib/site/boot/boot'
@import unquote("url('https://fonts.googleapis.com/css?family=Roboto:300,400')")
@font-face
  font-family: BrandonGrotesqueLight
  src: unquote("url('ext/lib/boot/brandon_light.otf')")
@font-face
  font-family: BrandonGrotesqueBold
  src: unquote("url('ext/lib/boot/brandon_bld.otf')")
@font-face
  font-family: BrandonGrotesque
  src: unquote("url('ext/lib/boot/brandon_reg.otf')")
@font-face
  font-family: BrandonGrotesqueBlack
  src: unquote("url('ext/lib/boot/brandon_blk.otf')")

@import '../*/styles.styl'

#outer-layout
  margin-top: 80px
  @media screen and (max-width: 1079px)
    margin-top: 80px
