.footer-static
  font-family: 'BrandonGrotesque', sans-serif

  background-color: #595959
  width: 100%
  .datos-contacto
    margin-left: 3.62%
    font-size: 1.5em
    font-weight: 300
    line-height: 24px
    text-align: left
    color: #ffffff
  .datos-contacto span:first-child
    font-weight: bold
  h3
    color: white
    border-bottom: solid 1px #76b72a
    padding-bottom: 10px
    font-weight: bold
    margin-left: 3.62%

  p
    color: #d8d8d8
  span
    color: #d8d8d8
    display: block
  span:first-child
    color: white

  .mapa
    background-image: unquote("url('ext/lib/site/footer/mapa.svg')")
    display: auto
    position: relative
    height: 250px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    margin-top: 10%

  .logo
    background-image: unquote("url('ext/lib/site/footer/vicente-lopez-footer.svg')")
    height: 120px
    background-repeat: no-repeat
    background-size: 100% 100%
    // background-position: center
    // top: 32
    display: auto
    position: relative
    // width: 300px
    // padding: 0
    // margin-right: 45%



  .social-icon
    width: 50px
    height: 50px
    margin-bottom: 5px
    margin-top: 5px
    .social-facebook
    .social-twitter
    .social-mail
      background-repeat: no-repeat
      width: 50px
      height: 50px
      margin-right: 10%
      display: inline-block
      float: left
      margin-bottom:10px
    .social-facebook
      background-image: unquote("url('ext/lib/site/footer/facebook-c.svg')")
      margin-left: 3.62%
    .social-twitter
      background-image: unquote("url('ext/lib/site/footer/twitter-c.svg')")
    .social-mail
      background-image: unquote("url('ext/lib/site/footer/email-c.svg')")
  .terminos
    margin-left: 3.62%
    font-size: 1.3rem
