.footer-static
  font-family: 'BrandonGrotesque', sans-serif
  background-color: #595959
  width: 100%
  font-size: 2.5vw
  @media screen and (min-width: 850px)
    font-size: 1.5rem

  .datos-contacto
    margin-left: 3.62%
    font-weight: 300


    text-align: left
    color: #ffffff
  .datos-contacto span:first-child
    font-family: 'BrandonGrotesqueBold', sans-serif

  h3
    color: white
    border-bottom: solid 1px #76b72a
    padding-bottom: 10px
    font-weight: bold
    margin-left: 3.62%
    font-size: 3vw
    @media screen and (min-width: 750px)
      font-size: 1.25rem


  p
    color: #d8d8d8
    line-height: 1.4

  span
    color: #d8d8d8
    display: block
    font-weight: 300

  span:first-child
    color: white
    margin-bottom: 3%
    @media screen and (min-width: 614px)
      margin-bottom: 0

  .mapa
    background-image: unquote("url('ext/lib/site/footer/mapa.svg')")
    display: auto
    position: relative
    height: 25%
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    margin-top: 10%
    margin-right: 4.7%
    @media screen and (min-width: 500px)
      height: 250px

  .logo
    background-image: unquote("url('ext/lib/site/footer/vicente-lopez-footer.svg')")
    height: 92px
    background-repeat: no-repeat
    background-position: right
    background-size: contain
    margin-top: 5%
    position: relative
    margin-right: 4.7%



  .social-icon
    width: 50px
    height: 50px
    .social-facebook
    .social-twitter
    .social-mail
      background-repeat: no-repeat
      background-size: cover
      width: 30px
      height: 30px
      margin-right: 5%
      display: inline-block
      margin-bottom:10px
      @media screen and (min-width: 500px)
        width: 50px
        height: 50px
    .social-facebook
      background-image: unquote("url('ext/lib/site/footer/facebook-c.svg')")
      margin-left: 3.62%
    .social-twitter
      background-image: unquote("url('ext/lib/site/footer/twitter-c.svg')")
    .social-mail
      background-image: unquote("url('ext/lib/site/footer/email-c.svg')")
  .terminos
    margin: 0 0 0 3.62%
    display: block
    padding: 0
    font-size: 3vw
    @media screen and (min-width: 676px)
      font-size: 1.25rem
