.footer-static
  font-family: 'BrandonGrotesque', sans-serif
  background-color: #595959
  width: 100%
  font-size: 14px
  @media screen and (min-width: 850px)
    font-size: 1.5rem

  .datos-contacto
    margin-left: 3.62%
    font-weight: 300


    text-align: left
    color: #ffffff
  .datos-contacto span:first-child
    font-family: 'BrandonGrotesqueBold', sans-serif
    font-size: 16px

  h3
    color: white
    border-bottom: solid 1px #76b72a
    padding-bottom: 10px
    font-weight: bold
    margin-left: 3.62%
    font-size: 20px
    @media screen and (min-width: 750px)
      font-size: 1.25rem


  p
    color: #d8d8d8
    line-height: 1.4

  span
    color: #d8d8d8
    display: block
    font-weight: 300

  span:first-child
    color: white
    margin-bottom: 3%
    @media screen and (min-width: 614px)
      margin-bottom: 0

  .mapa
    background-image: unquote("url('ext/lib/site/footer/mapa.svg')")
    display: block
    position: relative
    height: 25%
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    @media screen and (min-width: 500px)
      height: 250px
      margin-top: 10%
      margin-right: 4.7%

  .logo
    background-image: unquote("url('ext/lib/site/footer/vicente-lopez-footer.svg')")
    height: 60px
    background-repeat: no-repeat
    background-position: center
    @media screen and (min-width: 500px)
      background-position: right
      height: 92px
    background-size: contain
    margin-top: 10%
    margin-bottom: 10%
    position: relative
    margin-right: 4.7%



  .social-icon
    text-align: center
    margin: 20px 0
    @media screen and (min-width: 500px)
      text-align: left

    .social-facebook
    .social-twitter
    .social-mail
      background-repeat: no-repeat
      background-size: cover
      width: 50px
      height: 50px
      margin: 0 5%
      display: inline-block
      margin-bottom: 10px
      @media screen and (min-width: 500px)
        width: 30px
        height: 30px
    .social-facebook
      background-image: unquote("url('ext/lib/site/footer/facebook-c.svg')")
    .social-twitter
      background-image: unquote("url('ext/lib/site/footer/twitter-c.svg')")
    .social-mail
      background-image: unquote("url('ext/lib/site/footer/email-c.svg')")
  .terminos
    margin: 10px 0 0
    display: block
    padding: 0
    font-size: 3vw
    width: 100%
    @media screen and (min-width: 500px)
      width: auto
    @media screen and (min-width: 676px)
      font-size: 1.25rem


@media screen and (max-width: 500px)
  .row > div
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
