@import '../carrusel/styles'
.ext-home-forum
  padding-bottom: 0
  strong
    font-weight: bold

  .ext-forum-home-empty
    text-align: center
    padding: 10px
    padding-bottom: 0
  #forum-home
    padding-bottom: 0
