@import '../jump-button/styles'
@import '../datos-forum/styles'

#forum-home
  padding-bottom: 0
  .topics-container
    background-color: #e9e9e9
    padding-top: 50px
    position: relative
    overflow: hidden
    &::before
      content: ""
      position: absolute
      width: 100%
      left: 0
      top: 0
      box-shadow: 0 0 8px 1px #747474
  .btn-wrapper
    background-color: #e9e9e9
    text-align: center
    padding: 20px 0
  .ext-home-forum
    padding-bottom: 0
    strong
      font-weight: bold

    .ext-forum-home-empty
      text-align: center
      padding: 10px
      padding-bottom: 0

  .seccion-barrios
      &::before
        content: none
      &::after
        content: none
    .fondo-titulo
      display: none

  .banner-proyectos
    padding: 0
    height: 270px
    @media(max-width: 768px)
      height: 230px
    .banner
      width: 100%
      display: block
      margin: 0 auto
      position: absolute
      top: 66px
      left: 0
      height: 180px
      background-size: cover
      background-image: unquote("url('ext/lib/site/VialCosteroVteLopezImgBanner.png')")
      background-repeat: no-repeat
      padding: 0
    .contenedor
      top: 200px
      position: absolute
      display: block
      text-align: center
      left: 0
      right: 0
      @media(max-width: 1085px)
        top: 220px

      .fondo-titulo
        display: inline-flex
        justify-content: center
        align-items: center
        background-color: #7cbb42
        color: white
        text-align: center
        box-shadow: 0 44px 12px -38px unquote("rgba(0, 0, 0, 0.31)")
        margin: 0 auto
        padding: 15px 40px 9px
        letter-spacing: 1px
        z-index: 99
        @media(max-width: 768px)
          box-shadow: 0 25px 3px -21px unquote("rgba(0, 0, 0, 0.31)")
          padding: 15px 20px 9px
        @media(max-width: 1085px)
          box-shadow: 0 25px 3px -21px unquote("rgba(0, 0, 0, 0.31)")

        h1
          font-family: 'BrandonGrotesqueBlack', sans-serif
          padding: 0
          margin: 0 auto
          font-size: 54px
          font-weight: 400
          text-transform: uppercase
          @media(max-width: 768px)
            font-size: 30px
          @media(max-width: 1085px) and (min-width: 768px)
            font-size: 40px
