.topics-subscribe-proyecto
  margin: 20px auto;
  padding: 10px 15px;
  max-width: 848px;
  border: 1px solid #ddd;
  background-color: #FBFBFB;
  text-align: center;
  .btn
    background: #099dc3
    margin: 0 10px 0 0
    width: auto
    border: none
  .subscribers-total
    font-weight: 400
    color: #a5a9aa
    display: inline-block
    span
      font-weight: normal
      color: #099dc3