.attrs-wrapper
  padding: 0 0 .6em
  padding-top: 10px
  margin: 0 -15px;

  legend
    margin-bottom: .5em

  .kind-boolean
    & > label
      font-size: 1em

    .attrs-title
      font-size: .875em
      font-weight: bold
      line-height: 1.6

  h5
    border-top: 1px solid #e5e5e5;
    padding-top: 26px;
    margin-bottom: 14px;
    margin-top: 18px;

  .title-icon
    margin-right: 4px;
    width: 18px
