.mobile-nav
  margin-left: 20px
  @media screen and (min-width: 500px)
    margin-left: 25px
  .mobile-menu
    margin-bottom: 2px // corrige alineacion
    display: inline-block
    width: 30px
    height: 30px
    background-image: url('/ext/lib/site/header/mobile-menu/mobile-menu.svg')
    background-repeat: no-repeat
    background-size: cover
    cursor: pointer
    &:hover, &:active
      color: #8C1E81
  .mobile-menu-display
    display: block
    position: absolute
    width: 100%
    left: 0
    top: 57px
    background: white
    ul
      padding: 10px 0
      border-width: 1px 0
      border-style: solid
      border-color: #e8
      list-style-type: none
      font-family: Roboto
      font-size: 22px
      .header-item
        margin: 0
        padding: 10px 0
        text-align: center
        .header-link
          font-size: 17px