.mobile-nav
  .mobile-menu
    margin-left: 10px
    display: inline-block
    .mobile-menu-icon
      font-style: normal
      font-size: 33px
      color: #71bf44
      cursor: pointer
      &:hover, &:active
        color: #8C1E81
  .mobile-menu-display
    display: block
    position: absolute
    width: 100%
    left: 0
    top: 86px
    background: white
    ul
      padding: 10px 0
      border-width: 1px 0
      border-style: solid
      border-color: #e8
      list-style-type: none
      font-family: Roboto
      font-size: 22px
      .header-item
        margin: 0
        padding: 10px 0
        text-align: center
        .header-link
          font-size: 17px