@import './topic-card/styles'
.carrusel-seccion
  box-sizing: border-box
  .barrio-verde
    display: block
    // background-color: #7cbb42
    text-align: center
    // width: 33%
    // margin: 3% 0 0 33%
    // color: white
    // box-shadow: 0 6px 4px -2px unquote("rgba(0, 0, 0, 0.24)"), 0 0 2px 0 unquote("rgba(0, 0, 0, 0.12)")

    // Prueba de linea verde
    h2
      border-bottom: 3px solid #93c01f
      font-family: 'BrandonGrotesque', sans-serif
      color: #93c01f
      padding: 0
      margin: 0
      font-size: 8vw
      @media screen and (min-width: 750px)
        font-size: 4rem
  .row
    width: 100%
  .cont-barrio
    margin-top: 3%
    text-align: center
