@import './topic-card/styles'
.seccion-proyectos
  background-color: #e9e9e9
  padding-bottom: 30px
  text-align: center
  .row
    width: 100%
  .cont-boton-azul
    text-align: center


  .cont-barrio
    margin-top: 3%
    text-align: center

  .cont-boton-azul
    margin: 20px 0 0
